<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}
<table class="email-invoice">
    <tr class="email-intro">
        <td class="email-head">
            <br>
            <img class="email-img" alt="New Order" src="{{config path='web/secure/base_url'}}/pub/media/email/OrderConf.png" />
            <br>
            <p class="email-subtitle" style="margin-bottom:0;">Thank you for your purchase,</p>
            <p class="email-title">
                <strong> {{trans "%name!" name=$order.getCustomerFirstname()}} </strong>
            </p>
            <p>Your order is being processed. <br /> Please see your order information below. After your order ships, <br /> we will send another email
            with tracking information.</p>
            <br>
            <br>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h3>Order #<em>{{trans"%order_id" invoice_id=$invoice.increment_id order_id=$order.increment_id}}</em>
            </h3>
        </td>
    </tr>
</table>
<div class="gray_box">
    <table class="email-information-table">
        <tr class="email-information">
            <td>
                {{depend order.getEmailCustomerNote()}}
                <table class="message-info">
                    <tr>
                        <td>
                            {{var order.getEmailCustomerNote()|escape|nl2br}}
                        </td>
                    </tr>
                </table>
                {{/depend}}
                <table class="order-details">
                    <tr>
                        <td class="address-details">
                            <h3>{{trans "Billing Address"}}</h3>
                            <p>{{var formattedBillingAddress|raw}}
                                <br />
                                {{trans "%email" email=$order.getCustomerEmail()}}
                            </p>
                            <br />
                        </td>
                        {{depend order.getIsNotVirtual()}}
                        <td class="address-details">
                            <h3>{{trans "Shipping Address"}}</h3>
                            <p>{{var formattedShippingAddress|raw}}
                                 <br />
                                {{trans "%email" email=$order.getCustomerEmail()}}
                            </p>
                            <br />
                        </td>
                        {{/depend}}
                    </tr>
                    <tr>
                        <td class="method-info">
                            <br />
                            <h3>{{trans "Payment Method"}}</h3>
                            {{var payment_html|raw}}
                        </td>
                        {{depend order.getIsNotVirtual()}}
                        <td class="method-info">
                            <br />
                            <h3>{{trans "Shipping Method"}}</h3>
                            <p>{{var order.getShippingDescription()}}</p>
                        </td>
                        {{/depend}}
                    </tr>
                </table>
                <br />
                <br />
</div>
{{layout handle="sales_email_order_items" order=$order area="frontend"}}</td>
</tr>
</table>

{{template config_path="design/email/footer_template"}}