<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->

{{template config_path="design/email/header_template"}}

<table class="email-invoice">
    <tr class="email-intro">
        <td class="email-head">
            <br>
            <img class="email-img" alt="Order Shipped" src="{{config path='web/secure/base_url'}}/pub/media/email/Shipped.png" />
            <br>
            <p class="email-title">
                <strong> Hi {{trans "%name!" name=$order.getCustomerFirstname()}} </strong>
            </p>
            <p class="email-subtitle">Your shipping confirmation is below. <br /> Thank you for your business.</p>
            <br>
            <br>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h3>Your Invoice #
                <em>{{trans"%shipment_id" shipment_id=$shipment.increment_id order_id=$order.increment_id}}</em>
                for Order #
                <em>{{trans"%order_id" shipment_id=$shipment.increment_id order_id=$order.increment_id}}</em>
            </h3>
        </td>
    </tr>
</table>
<div class="gray_box">
    <table class="email-information-table">
        <tr class="email-information">
            <td>
                {{depend comment}}
                <table class="message-info">
                    <tr>
                        <td>
                            {{var comment|escape|nl2br}}
                        </td>
                    </tr>
                </table>
                {{/depend}}
                 
                <table class="order-details">
                    <tr>
                        <td class="address-details">
                            <h3>{{trans "Billing Address"}}</h3>
                            <p>{{var formattedBillingAddress|raw}}</p>
                        </td>
                        {{depend order.getIsNotVirtual()}}
                        <td class="address-details">
                            <h3>{{trans "Shipping Address"}}</h3>
                            <p>{{var formattedShippingAddress|raw}}</p>
                        </td>
                        {{/depend}}
                    </tr>
                    <tr>
                        <td class="method-info">
                            <h3>{{trans "Payment Method"}}</h3>
                            {{var payment_html|raw}}
                        </td>
                        {{depend order.getIsNotVirtual()}}
                        <td class="method-info">
                            <h3>{{trans "Shipping Method"}}</h3>
                            <p>{{var order.getShippingDescription()}}</p>
                        </td>
                        {{/depend}}
                    </tr>

                </table>
                {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Magento_Sales::email/shipment/track.phtml' shipment=$shipment order=$order}}
                <br />
                <br />
                {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
            </td>
        </tr>
    </table>
</div>

{{template config_path="design/email/footer_template"}}
