<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <br><br>
                        <table class="footer-section">
                            <tr>
                                <td>
                                    <table class="footer_links">
                                        <tr>
                                            <td>
                                                <p>Have a Question?</p>
                                                <a href="tel:+1-800-627-4368"> 800-627-4368 </a>
                                            </td>
                                            <td>
                                                <p>Need a Quote?</p>
                                                <a href="mailto: customerservice@samsungparts.com"> Send Us An Email </a>
                                            </td>
                                            <td>
                                                <p>Need Answers?</p>
                                                <a href="{{config path="web/secure/base_url"}}privacy-policy"> View Our Policies </a>
                                            </td>
                                        </tr>
                                    </table>  
                                </td>
                            </tr>
                            <tr>
                                <td class="footer_social_links">
                                    <br /><br />
                                    <p>8 York Avenue, West Caldwell, NJ 07006</p>
                                    <a href="https://www.facebook.com/Samsungparts-102035369840381"><img src="{{media url='email/facebook.png'}}" class="right-logo" alt="FB"></a>
                                    &nbsp; &nbsp; 
                                    <a href="https://twitter.com/SamsungParts"><img src="{{media url='email/twitter.png'}}" class="right-logo" alt="TR"></a> 
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>