<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<img class="email-img" alt="forget password" src="{{config path=" web/secure/base_url "}}/pub/media/email/ForgtPsw.png" />

<p class="email-title">Forget your password?</p>

<div class="gray_box">
    <p class="gray_title">We are here to help!</p>
    <p>
        <strong>Click the button to reset your password</strong>
    </p>
    <br />
    <a class="button" href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}"
        target="_blank">&nbsp; &nbsp;&nbsp; &nbsp;{{trans "Reset Password"}}&nbsp; &nbsp;&nbsp; &nbsp;</a>
    <br />
    <br />
</div>
{{template config_path="design/email/footer_template"}}